<div class="container">
<% if @reservations.any? %>
  <div class="card text-white mx-auto" > 
  <div class="card-header">
        <h4 class="card-title" style="color:black">Historia  rezerwacji</h4>
</div>
    <div class="card-body">
      <h4 class="card-title" style="color:black">Historia Twoich rezerwacji</h4>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Rejon</th>
            <th>Miejsce parkingowe</th>
            <th>Data</th>
            <th>Godzina</th>
            <th>Czas trwania</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @reservations.each do |reservation| %>
            <% if reservation.reservation_date < Date.today %>
              <tr>
                <td><%= reservation.parking_spot.region.name  %></td>
                <td><%= reservation.parking_spot.name  %></td>
                <td><%= reservation.reservation_date.strftime("%d-%m-%Y") %></td>
                <td><%= reservation.reservation_time.strftime('%H:%M') %></td>
                <td><%= reservation.duration %> min</td>
                <td>Zakończone</td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
<div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="bg-white p-4">
    <p class="text-center">Twoja historia rezerwacji jest pusta.</p>
  </div>
</div>

<% end %>
</div>