<% if @reservations.any? %>
  <div class="card text-white mx-auto" > 
  <div class="card-header">
        <h4 class="card-title" style="color:black">Historia rezerwacji</h4>
</div>
    <div class="card-body">
      <h4 class="card-title" style="color:black">Twoje rezerwacje</h4>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Miejsce parkingowe</th>
            <th>Data</th>
            <th>Godzina</th>
            <th>Czas trwania</th>
            <th>Status</th>
            <th>Edycja</th>
            <th>Anulowanie</th>
            <th>Płatność </th>
          </tr>
        </thead>
        <tbody>
          <% @reservations.each do |reservation| %>
            <% if reservation.reservation_date >= Date.today %>
              <tr>
                <td><%= reservation.parking_spot.name %></td>
                <td><%= reservation.reservation_date.strftime("%d-%m-%Y") %></td>
                <td><%= reservation.reservation_time.strftime('%H:%M') %></td>
                <td><%= reservation.duration %></td>
                <td> <%= reservation.status %></td>
                <td>
                  <%= link_to "Edytuj", edit_reservation_path(reservation.id), class:"btn btn-primary"%>
                </td>
                <td>
                  <%= button_to "Anuluj", delete_reservation_path(reservation.id), class:"btn btn-danger", method: :delete %>
                </td>
                <td> 
                <% if reservation.status == "accepted" %>
                <label for="payment_method">Metoda płatności:</label>
                
                  <select id="payment_method" name="payment_method">
                    <option value="blik">BLIK</option>
                    <option value="card">Karta</option>
                    <option value="transfer">Przelew</option>
                    <option value="cash">Gotówka w portierni</option>
                  </select>
                  <br/>
                   <%= link_to "Opłać", edit_reservation_path(reservation.id), class:"btn btn-primary"%>
                <% else %>
                <p> Niedostępne <p>
                <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
<div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="bg-white p-4">
    <p class="text-center">Brak rezerwacji do wyświetlenia.</p>
  </div>
</div>

<% end %>
