<div class="container">
  <div class="row justify-content-center align-items-center" style="padding-top: 6%; padding-bottom: 5%">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Rezerwacja miejsca parkingowego</h3>
        </div>
<div class="card-body">
  <%= render "errors/errors" %>
          <%= form_for @reservation do |f| %>

              <%= f.label :region_id, "Region parkingu:", class: "form-label" %>
              <%= select_tag :region_id, options_for_select(Region.all.map{ |r| [r.name, r.id] }), prompt: "Wybierz region", id: "region-select" %>
              <div class="form-group">
                <%= f.label :parking_spot_id, "Miejsce", class: "form-label" %>
                <%= f.select :parking_spot_id, options_for_select(ParkingSpot.where(available: true).map{ |ps| [ps.name, ps.id] }), {}, class: "form-select" %>
             </div>

              <%= f.hidden_field :user_id, value: current_user.id %>

              <div class="form-group">
                <%= f.label :first_name, "Imię", class: "form-label" %>
                <%= f.text_field :first_name, value: current_user.first_name, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :last_name, "Nazwisko", class: "form-label" %>
                <%= f.text_field :last_name, value: current_user.last_name, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :phone, "Telefon", class: "form-label" %>
                <%= f.text_field :phone, value: current_user.phone, class: "form-control" %>
              </div>
              
              <div class="form-group">
                <%= f.label :license_plate, "Numer tablicy rejestracyjnej", class: "form-label" %>
                <%= f.text_field :license_plate, class: "form-control" %>
              </div>


            <div class="form-group">
              <%= f.label :reservation_date, "Rezerwacja na dzień", class: "form-label" %>
              <%= f.date_field :reservation_date,  value: Date.today, class: "form-control" %>
            </div> <br/>
            <div class="form-group">
              <%= f.label :reservation_time, "Godzina", class: "form-label" %>
              <%= f.time_select :reservation_time, { class: 'form-control' } %>
            </div>
            <div class="form-group">
              <%= f.label :duration, "Czas rezerwacji <i> orientacyjnie </i>".html_safe, class: "form-label" %>
              <%= f.select :duration, options_for_select([['15 minut', 15], ['30 minut', 30], ['Więcej niż 60 minut', 60]]), { include_blank: true }, { class: 'form-control' } %>
            </div>
            <br/>
              <%= recaptcha_tags %>
            <br/>
            <%= f.submit "Zarezerwuj", class: "btn btn-primary btn-block mb-3" %>
          <% end %>
        </div>
            <div class="card-footer">
      <%= link_to "Powrót", root_path, class: "btn btn-secondary" %>
    </div>
      </div>
    </div>
  </div>
</div>
